<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="spy" class="com.citiustech.SpringQuizMaster" >
	

	</bean>
	
	<bean id="st" class="com.citiustech.StrutsQuizMaster"></bean> 
	
	<!-- <bean id="quizMasterService" init-method="" destroy-method="" class="com.citiustech.QuizMasterService" autowire="byType">
		<constructor-arg>
		<ref local="springQuizMaster"/>
		</constructor-arg>
		
		<property name="quizMaster">
			<ref local="springQuizMaster"/>
		</property>
	</bean>	 -->
	<bean id="quizMasterService"  class="com.citiustech.QuizMasterService">
		<!-- <constructor-arg>
		<ref local="springQuizMaster"/>
		</constructor-arg> -->
		
		<property name="quizMaster">
			<ref local="spy"/>
		</property>
	</bean>	
</beans>
